CODER_ACCESS_URL={{ coder_access_url }}
CODER_HTTP_ADDRESS={{ coder_http_address }}
CODER_TLS_ENABLE={{ coder_tls_enable }}
{% if coder_tls_enable %}
CODER_TLS_ADDRESS={{ coder_tls_address }}
{% endif %}
